body {
  font-size: 18px;
  font-family: monospace;
  font-weight: bold;
  line-height: initial;

	background-color: #000000;
	color: #afafaf;
}

.ui-messages {
	position: absolute;
	bottom: 55px;
	height: 58px;
	pointer-events: none;
	background-color: rgba(0,0,0,0.2);
	overflow: hidden;

	font-weight: bold;
	font-size: 18px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;  
}

.ui-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.1;
}

.ui-window {
	position: fixed;
	width: 100px;
	height: 100px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 8px;
	display: none;
	box-shadow:4px 4px 4px 0px rgba(0, 0, 0, 0.5);	
	border: 15px solid transparent;
	border-image: url(assets/ui/border.png) 40% stretch;
	background-color: #3b3e36;
	color: white;
}

.msg {
	padding-left: 10px 
}

.msg-danger {
	color: red;
}

.msg-warning {
	color: yellow;
}

.msg-hilite {
	color: #00ff00;
}

.ui-green {
	color: #00ff00;
}

.ui-yellow {
	color: #ffff00;
}
.ui-brown {
	color: #d7af5f;
}

.ui-pink {
	color: #d7005f;
}

.ui-light-blue {
	color: #5fffd7;
}

.ui-white {
	color: white;
}

.ui-gray {
	color: #afafaf;
}


