body {
  font-size: 17px;
  font-family: monospace;
  line-height: initial;
	background-color: #000000;
	color: #afafaf;
}

.ui-messages {
	position: absolute;
	bottom: 55px;
	height: 58px;
	pointer-events: none;
	background-color: rgba(0,0,0,0.2);
	overflow: hidden;

	font-weight: bold;
	font-size: 18px;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;  
}

.ui-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.1;
}

.ui-window {
	position: fixed;
	width: 100px;
	height: 100px;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 8px;
	display: none;
	box-shadow:4px 4px 4px 0px rgba(0, 0, 0, 0.5);	
	border: 15px solid transparent;
	border-image: url(game/images/border.png) 40% stretch;
	background-color: #3b3e36;
	color: white;
}

#level-map {
	cursor: pointer;
  font-weight: bold;
  font-size: 18px;  
}

.msg-info {
	padding-left: 10px; 
}

.msg-danger {
	padding-left: 10px; 	
	color: red;
}

.msg-warning {
	padding-left: 10px; 	
	color: yellow;
}

.msg-hilite {
	padding-left: 10px;
	color: white;
}

.msg-good {
	padding-left: 10px;
	color: lime;
}

.ui-green {
	color: #00ff00;
}

.ui-dark-green {
	color: #00af5f;
}

:root { 
	--col-yellow: #ffff00; 
	--col-blue: blue;
} 

.ui-yellow {
	color: #ffff00;
}
.ui-brown {
	color: #d7af5f;
}

.ui-dark-brown {
	color: #af5f00;
}

.ui-red {
	color: #d70000;
}

.ui-pink {
	color: #d7005f;
}

.ui-purple {
	color: #ff00ff;
}

.ui-cyan {
	color: #00ffff;
}

.ui-light-blue {
	color: #5fffd7;
}

.ui-blue {
	color: #5c5cff;
}

.ui-white {
	color: white;
}

.ui-gray {
	//color: #afafaf;
	color: #878787;
}

.ui-dark-gray {
	color: #575757;
}


.condition-Hungry {
	color: var(--col-yellow);
}

.condition-Poisoned {
	color: lime;
}

.condition-Asleep {
	color: var(--col-blue);
}

.command {
	cursor: pointer;
}

.command kbd {
	color: #ffff00;
}

.link {
	text-decoration: underline;
	color: white;
	cursor: pointer;
}

.meter {
  height: 10px;
  vertical-align: baseline;
}